.movie-title {
    color: white;
}

.card-movie {
    width: 16rem;
}

.card-movie:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

@media (max-width: 616px) {
    .card-movie {
        width: 90%;
    }
}